body {
  border-color: rgb(43, 43, 88);
}
.top-area {
  border: 10px solid #EC7063 ;
  text-align: center;
  padding: 5px 4px;
}

.top-size {
  font-size: 40px;
}
button {
  width: 90px;
  height: 50px;
  background-color: red;
  border-radius: 10px;
  color: white;
  
 
}
.buttonMale{
  background-color: #3498DB;
}

button:hover {
  opacity: 0.6;
}
.singer-pic {
  border: 2px solid gray;
}
.singer-table {
  width: 100%;
  background-color: #fff;
  color: black;
}
.singer-table td {
  padding: 5px 10px;
  border: 2px solid gray;
  text-align: center;
}

.quality-icon {
  width: 100px;
  height: 100px;
}
.quality-icon:hover {
  width: 80px;
  height: 80px;
}
.name-size {
  width: 300px;
  font-size: 25px;
}
.name-size:hover {
  background-color: gray;
  font-size: 19px;
  color: white;
}
img {
  width: 265px;
  height: 190px;
}
